.idea/*
.DS_Store
data/*
__init__.py
save/lstm/*
save/blstm/*
save/blstma/*
*.pyc
legacy_models/*
test/*
dict/vector/*
legacy_models/*/*
tf_chatbot/data/*
tf_chatbot/nn_models/*
tf_chatbot/results/*
tf_chatbot/configs/*
